body {
    background-color: red;
}
h1{
    color: black;
    font-style: oblique;
}
h2{
    color:darkgreen;
    font-style: italic;
}
h3{
    color:darkkhaki;
    font-style: normal;
}
img{
    border: 15px;
    border-radius: 5px;
}